* {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", 
    "Microsoft YaHei", 微软雅黑, "helvetica neue", helvetica, 
    ubuntu, roboto, noto, "segoe ui", Arial, sans-serif;
    transition: all 0.5s;
}
input, textarea{
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    margin: 10px px;
    border-bottom: 1px dashed #dedede;
}

body {
    background-color: #eeeeee;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: #D7191A;
}

.row {
    margin-bottom: 0.75rem;

}

.market {
    background-color: #4285f4;
    height: 398px;
    position: absolute;
    top: 60px;
    width: 100%;
    outline: none;
    display: block;
    z-index: -1;
}

.container {
    max-width: 1080px;
}

header {
    background-color: #ffffff;
    padding: 10px 0px;
}

header .logo {
    font-size: 30px;
    color: #4285f4;
}

header .desc {
    color: #b3b3b3;
}

.content {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    padding: 20px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #ffffff;
}
.content .title {
    padding: 10px;
}

.yd-wrap {
    padding: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.yd-header input{
    border-bottom: 1px dashed #dedede;

}
.yd-header input:focus{
    border-color: #eb5055;
}

.yd-textarea textarea {
    background: url(../image/plbj.png) 100% 100% no-repeat;
    height: 10rem;
}

.yd-commit button {
    width: 100px;
}

.yd-comment-num span{
    font-size: 20px;
    font-weight: 800;
    font-family: bold;
}

.yd-comment-item img {
    width: 50px;
}

.yd-comment-content a {
    font-weight: 600;
}

.yd-comment-head {
    margin-bottom: 5px;
}

.yd-comment-body {
    margin-bottom: 10px;
}

.yd-comment-footer {
    color: #b3b3b3;
    border-bottom: 1px solid #f5f5f5;
}

